<html>
<head>
  <title>Computed traits Ship</title>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  <script src="/admin.js"></script>
</head>
<body class='container'>
  <div class="mt-1 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        URL Shortener
      </div>
      <div class="panel-body text-center">
          <div class="row">

            <div class="col-lg-12">
              <div class="input-group input-group">
                <input id="url-field" type="text" class="form-control" placeholder="Paste a link...">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-shorten" type="button">SHORTEN</button>
                </span>
              </div>
            </div>
            <div class="col-lg-12 mb-2 mt-1 link-container text-left">
              <h5 class="mb-0">Your redirect link:</h5>
              <pre id="link"/>
            </div>

          </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">Generated Links</div>
      <div class="panel-body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Full URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% for (i in urls) { %>
            <tr>
              
              <td><%= urls[i].short_url %></td>
              <td><%= urls[i].long_url %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <p>
        To see who clicked on links: Go to the Users tab, click "Add Event filter" and pick "Redirect Link Clicked" > "At least Once"
      </p>    
      </div>
    </div>
  </div>
</body>
</html>
